$font-family: "helvetica neue", arial, sans-serif;

// colors
$foreground: #ffffff;
$background: #f0f0f0;

$dark-gray: #393939;
$gray: #666666;
$light-gray: #aaaaaa;

$headline-color: $dark-gray;
$text-color: $gray;

$red: #ce0000;
$green: #9ccf31;

// sizes
$page-width: 1000px;
$contet-width: 800px;
$sidebar-width: 200px;

// pixels
$border-radius: 3px;

body {
  margin: 0;
  padding: 0;
  background-color: $background;
  font-family: $font-family;
  background: $background url("../../images/v9/noise.png") repeat;
}

a {
  img {
    border: none;
  }

  &.external {
    text-decoration: none;
  }

  &.button {
    text-decoration: none;
  }
}

#branding {
  box-shadow: 1px 0 4px rgba(0, 0, 0, 0.4);
  background-color: $foreground;
  width: 100%;
  height: 50px;
  font-size: 13px;
  padding-bottom: 20px;
  margin-bottom: 50px;

  .logo {
    float: left;
    margin-right: 50px;
  }

  a {
    font-family: $font-family;
    color: $dark-gray;
  }
}

#access {
  width: $page-width;
  margin: 0 auto;
}

#main-navigation {
  float: left;

  ol {
    margin-top: 30px;
  }

  li {
    font-family: Georgia, skolar, times, serif;
    float: left;
    display: list-item;
    margin-left: 30px;
    color: #aaa;
  }
}

#main {
  width: $page-width;
  margin: 0 auto;

  color: #888;
  text-shadow: #fff 0px 1px 0px;
  font-size: 16px;
  a {
    color: $dark-gray;
  }

  h2, h2 a {
    color: #888;
  }
}

footer {
  padding: 0;
  margin: 50px 0 0 0;
  width: 100%;
  background-color: #555;
  box-shadow: 1px 0 4px rgba(0, 0, 0, 0.4);
  p {
    width: $page-width;
    margin: 0 auto;
    padding: 20px 0 40px 0;
    color: #222;
    text-shadow: #666 0px 1px 0px;

    a {
      color: #222;
    }
  }
}

/* =Tables
-------------------------------------------------------------- */
table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

table {
  width: 100%;
  margin-bottom: 18px;
  border: 1px solid #ddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  border-left: 0;
}

table th,
table td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

table th {
  font-weight: bold;
}

table thead th {
  vertical-align: bottom;
}

table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
  border-top: 0;
}

table tbody + tbody {
  border-top: 2px solid #ddd;
}

table th,
table td {
  padding: 4px 5px;
  border-left: 1px solid #ddd;
}

table caption + thead tr:first-child th,
table caption + tbody tr:first-child th,
table caption + tbody tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + tbody tr:first-child th,
table colgroup + tbody tr:first-child td,
table thead:first-child tr:first-child th,
table tbody:first-child tr:first-child th,
table tbody:first-child tr:first-child td {
  border-top: 0;
}

table tbody tr:nth-child(odd) td,
table tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

table tbody tr:hover td,
table tbody tr:hover th {
  background-color: #f5f5f5;
}

table {
  width: auto;
  max-width: 100%;
  overflow: scroll;
}

pre {
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 16px;
  background-color: #f5f5f5;
  display: block;
  line-height: 18px;
  margin: 2em 0;
  padding: 14px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

code {
  font-family: "Courier 10 Pitch", Courier, monospace;
  word-wrap: break-word;
}